@model Lab6.App_Start.Context
@{
    ViewBag.Title = "Subject Table";
}

<h2>@ViewBag.Title</h2>

<body>
    <div>
        <table style="width: 100%">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Coefficient</th>
                <th>Duration</th>
            </tr>
            @foreach (var item in Model.Subject.ToList())
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.coefficient</td>
                    <td>@item.duration</td>
                    <td><a href="/Subject/Delete/@item.id/" role="button"><span aria-hidden="true">delete</span></a></td>
                </tr>
            }
        </table>
    </div>
    <div>
        <a class="btnbtn-primary" href="/Subject/AddSubject" role="button">Add new subject</a>
    </div>

    @using (Html.BeginForm("Update", "Subject"))
    {
        <h6>Update school</h6>
        <label>id</label>
        <input type="text" name="id" id="id" value="" />
        <label>School name</label>
        <input type="text" name="name" id="name" value="" />
        <label>Coefficient</label>
        <input type="text" name="coefficient" id="coefficient" value="" />
        <label>Duration</label>
        <input type="text" name="duration" id="duration" value="" />
        <input type="submit" value="Update" />
    }
</body>